<launch>
	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" />

	<node pkg="joy" name="joy_node" type="joy_node" />

	<node pkg="teleopbot" name="joy_to_twist_using_rate" type="joy_to_twist_using_rate.py">
		<remap from="cmd_vel" to="cmd_vel_mux/input/teleop" />
	</node>

</launch>